<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="filename">log/runtime.log</property>
    </properties>

    <appenders>
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%logger{1}:%L][%M][%-5level] - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%logger{1}:%L][%M][%-5level] - %msg%n%throwable</Pattern>
            </PatternLayout>
        </Console>
    </appenders>

    <loggers>
        <root level="trace" additivity="true">
            <appender-ref ref="Console" />
            <appender-ref ref="File"/>
        </root>
    </loggers>
</configuration>