<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="filename">/test.log</property>
    </properties>

    <appenders>
        <File name="MyFile" fileName="${filename}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level - [%logger{1} - %M] %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="MyConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="MyConsole" />
        </root>
    </loggers>
</configuration>